html {
  --primary-dark-color: hsl(0, 100%, 5%);
  --primary-color: hsl(0, 100%, 25%);
  --primary-light-color: hsl(0, 100%, 45%);

  --page-background-color: white;
  --page-foreground-color: hsl(0, 100%, 5%);
  --page-secondary-foreground-color: hsl(0, 100%, 25%);
}
