name: RABERU CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  gcc:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch current branch
        uses: actions/checkout@v2
      - name: Testing RABERU with g++
        uses: ./.github/actions/run_tests
        with:
          compiler: 'g++-11'

  clang:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch current branch
        uses: actions/checkout@v2
      - name: Testing RABERU with clang
        uses: ./.github/actions/run_tests
        with:
          compiler: 'clang++'

  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch current branch
        uses: actions/checkout@v2
      - name: Build RABERU as an external dependency
        run: |
          ls
